.section {
    margin: 0;
}
.modal-footer a i {
    font-size: 12px;
}
.title-signup {
    padding: 60px 0;
}
.box {
    margin-bottom: 20px;
}
.formulaire {
    padding: 0 25px;
}
.footer-top a {
    display: block;
}